@font-face{
  font-family: 'Roboto';
  src: url('fonts/Roboto.ttf');
}
*{margin: 0;padding: 0;box-sizing: border-box;user-select: none;scroll-behavior: smooth;}

body{
  position: relative;
  min-height: 100vh;
  font-family: sans-serif;
  /*background-color: #f2f5f8;*/
}

::-webkit-scrollbar{width: 10px;}

body{font-family: sans-serif , "Roboto" !important;min-height: 100vh;position: relative;}

a, li, button{text-decoration: none;list-style: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

button{outline: none;border:none;}

/*  styling scrollbars  */
/*::-webkit-scrollbar {display: none;}*/
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px #1de9b6;border-radius: 10px;}
::-webkit-scrollbar-thumb {background: #1dc4e9;border-radius: 10px;}
::-webkit-scrollbar-thumb:hover {background: #1dc4e9;}

input{outline: none;border: none;}


.avatar{
    width: 65px;height: 65px;border-radius: 50%;background-color: rgba(0, 0, 0, 0.06);
    display: -webkit-flex;display: flex;-webkit-align-items: center; align-items: center;
    -webkit-justify-content: center;justify-content: center;
}
.avatar .fa{font-size: 2rem;color: #888;}

.pd10{
  padding: 14px !important;
}

.card{
  box-shadow: 0 15px 25px rgba(0, 30, 167, 0.1);
}

@keyframes animroot {
  0%{transform: translateY(350px);opacity: 0.5;}
  50%{transform: translateY(0px);}
  100%{transform: translateY(0px);opacity: 1;}
}
@-webkit-keyframes animroot {
  0%{transform: translateY(350px);opacity: 0.5;}
  50%{transform: translateY(0px);}
  100%{transform: translateY(0px);opacity: 1;}
}

.slider-container{
    height: 210px;
    display: inline-flex;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    cursor: grab;
}

.slide{width:100vw;left: 0;display: flex;user-select: none;}
.slide.active{-webkit-transform: scale(0.99);transform: scale(0.99);}


.lauchimg{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 10px;
  z-index: 99999;
  background-color: #ffffff;
   overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;

}

.lauchimg img{width: 100%;min-height: 100%;object-fit: contain;position: relative;
            -webkit-animation: frombottom 1s 1;animation: frombottom 1s 1; }


.lauchimg span{
    position: absolute;
    bottom: 20px;
    left: 50%;
    border-radius: 5pc;
    z-index: 999;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: #225;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}



.pushUp{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}
.pushUp .cardpushUp{
  width: 100%;
  height: 70vh;
  padding: 16px;
  padding-top: 40px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.pushUp .cardpushUp:before{
  content: '';
  position: absolute;
  width: 50px;
  height: 4px;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #888;
  border-radius: 5pc;
}

.pushUp .cardpushUp h4{border-bottom: 1px #eee solid;padding: 10px 0;}


.ui-btn{
  width: auto;
  position: relative;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  border: 0;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  
}

.expand{
  width: 100%;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.round{
  border-radius: 5pc;
}
.rad{
  border-radius: 5px !important;
}

.rad-all{
  border-radius: 50%;
}

.rad-left{
   border-top-left-radius: 5pc;
   border-bottom-left-radius: 5pc;
}
.rad-right{
   border-top-right-radius: 5pc;
   border-bottom-right-radius: 5pc;
}

.ui-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4c6ff4;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
}

.bage{
  position: absolute;
  padding: 2px 4px;
  border-radius: 2pc;
  left: 30px;
  top: -5px;
  font-size: 0.7rem;
}
.bage.right{
  left: -15px !important;
}

.ico {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4c6ff4;
  margin-right: 5px;
}

.btn-text{
  margin-left:5px;
  margin-right:5px;
}

.bc-white{
  background-color: #FFFFFF;
  box-shadow: 0 5px 10px 0 rgba(255, 255, 244, 0.5);
}
.bc-orange{
  background-color: #e98030;
  box-shadow: 0 5px 10px 0 rgba(225, 60, 30, 0.5);
  color: #fff;
}

.bc-blue{
  color: #fff;
  background-color: #4c6ff4;
  box-shadow: 0 5px 10px 0 rgba(76, 111, 244, 0.5);
}
.bc-red{
  background-color: #ef2030;
  box-shadow: 0 5px 10px 0 rgba(244, 40, 76, 0.5);
  color: #fff;
}
.bc-yellow{
  background-color: #efef20;
  box-shadow: 0 5px 10px 0 rgba(244, 244, 76, 0.5);
  color: #552 !important;
}
.bc-yellow *,
.bc-yellow .fa{
   color: #552 !important;
}

.bc-black{
  background-color: #1d1d1d;
  box-shadow: 0 5px 10px 0 rgba(100, 100, 100, 0.5);
  color: #fff;
}
.bc-green{
  background-color: #44a66f;
  box-shadow: 0 5px 10px 0 rgba(76, 190, 76, 0.5);
  color: #fff;
}
.cw *{
  color:#fff;
}
.mr{
  margin-right: 10px;
}

.bc-gradient-red{
  background: #EF8590;
  background-color: #7b78f8;
  background: -webkit-linear-gradient(-45deg, #7b78f8, #EF8590);
  background: linear-gradient(-45deg, #7b78f8, #EF8590);
   box-shadow: 0 5px 10px 0 rgba(160, 0, 0, 0.3);
}

.bc-gradient-blue{
  background: -webkit-linear-gradient(45deg, #1de9b6 0%, #1dc4e9 100%);
  background: -ms-linear-gradient(45deg, #1de9b6 0%, #1dc4e9 100%);
  background: linear-gradient(45deg, #1de9b6 0%, #1dc4e9 100%);
  box-shadow: 0 5px 10px 0 rgba(30, 190, 30, 0.4);
}

.ml{
  margin-left: 10px;
}


.bc-gradient-lime{
  background: -webkit-linear-gradient(45deg, #22f 0%, #2ff 100%);
  background: linear-gradient(45deg, #22f 0%, #2ff 100%);

  background-image: -webkit-linear-gradient(45deg, #22f 0%, #2ff 100%);
  background-image: linear-gradient(45deg, #22f 0%, #2ff 100%);
  box-shadow: 0 5px 10px 0 rgba(30, 120, 120, 0.3);
}

.bc-lime{
  background: #2ff;
  box-shadow: 0 5px 10px 0 rgba(30, 120, 120, 0.3);
}



.box-input{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative !important;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}


.box-input .fa{
    position: absolute;
    z-index:99;
    right: 10px;
    color: #888;
    transition:0.5s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.box-input input{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    font-size: 1.2rem;
    color: #666;
}
.box-input input:selected{
  background: red
}

.box-input label{
    position: absolute;
    color: #999;
    transition: 0.5s;
    pointer-events: none;
}
.box-input span{
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eee;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.box-input span:before{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    background-image: -webkit-linear-gradient(45deg, #3023AE 0%, #3e3 100%);
    background-image: linear-gradient(45deg, #3023AE 0%, #3e3 100%);
    transition: 0.5s;
}


.box-input input:focus ~ .fa,
.box-input input:valid ~ .fa{
    transform: scale(1);
    transition: 0.5s;
}

.box-input input:focus + label,
.box-input input:valid + label{
    transform: translateY(-22px);
    font-size: 0.8rem;
    transition: 0.5s;
}
.box-input input:focus ~ span:before,
.box-input input:valid ~ span:before{
    width: 100%;
    transition: 0.5s;
}


.line-next{
    width: 100%;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}


.flat-input{
    width: 100%;
    height: 42px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    border: 1px #aaa solid;
    box-shadow: 0 5px 10px rgba(40, 40, 160, .04);
}

.flat-input input{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 16px;
    font-size: 1.2rem;
    color: #666;
}
.flat-input input::-webkit-selected{
  background: red;
}

.flat-input label{
    position: absolute;
    color: #999;
    left: 16px;
    transition: 0.5s;
    pointer-events: none;
}

.flat-input input:focus ~ .fa,
.flat-input input:valid ~ .fa{
    transform: scale(1);
    transition: 0.5s;
}

.flat-input input:focus + label,
.flat-input input:valid + label{
    transform: translateY(-22px);
    background-color: #fff;
    padding: 4px;
    font-size: 0.8rem;
    transition: 0.5s;
}


.flat-time{
    width: 140px;
    height: 42px;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-top:10px;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    border: 1px #226 solid;
    border-radius: 5px;
}

.flat-time input{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 10px 16px;
    font-size: 1.2rem;
    color: #666;
}
.flat-time input:selected{
  background: red
}

.flat-time label{
    position: absolute;
    color: #777;
    left: 16px;
    transition: 0.5s;
    pointer-events: none;
}


.flat-time input:focus + label,
.flat-time input:valid + label{
    transform: translateY(-22px);
    background-color: #fff;
    padding: 4px;
    font-size: 0.8rem;
    transition: 0.5s;
}

.vspace{
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.flex{
  display: -webkit-flex;
  display: flex;
}
.f-content-b{
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.f-content-center{
  -webkit-justify-content: center;
  justify-content: center;
}
.f-col{
  -webkit-flex-direction: column;
  flex-direction: column;
}

.f-align{
  -webkit-align-items: center;
  align-items: center;
}


.route-pannel{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
}
.route-pannel.active{
  visibility: visible;
  opacity: 1;
  z-index: 9991;
  -webkit-animation: flipp 0.5s 1;
  animation: flipp 0.5s 1;
}

.c-w{
  color: #ffff;
}

.clm{
  display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}


/*liste sheet*/
.wrapper-sheet{
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.list-sheet{
  width: 80%;
  height: auto;
  min-height: 230px;
  max-height: 90vh;
  position: absolute;
  background-color: #ffffff;
  padding: 16px;
  overflow: auto;
  left: 50%;
  top: 50%;
  z-index: 9999;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 120, 0.08);
}

.wrapper-sheet{
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 998;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}

.list-sheet .check-input{
  width: 100%;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.list-sheet .check-input input{
  display: none;
}
.list-sheet h3{
  width: 100%;
  height: auto;
  padding: 6px;
  text-align: center;
  border-bottom: 1px #eee solid;
}
.list-sheet .check-input label{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.list-sheet .check-input label span{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  margin-right: 20px;
  border:  1px #1d1d1d solid;
   -webkit-transition: 0.1s;
  transition: 0.1s;
}

.list-sheet .check-input label small{
  text-transform: capitalize;
}

.list-sheet .check-input input:checked ~ label span{
  background-color: #1d1d1d;
  border: 4px #fff double;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.list-sheet  p{
  
}
.list-sheet  .ui-btn{
  border-top: 1px #eee solid;
  padding-top: 10px;
  color: #444;
}

/*Sweet Alerte */

.sweet-alert{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  background: rgba(10, 10, 50, 0.4);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.sweet-alert .swa{
  max-width: 90%;
  min-width: 320px;
  height: auto;
  padding: 16px;
  background: #fff;
  font-family: sans-serif;
  border-radius: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-transform: scale(1);
  transform: scale(1);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  -webkit-animation: swa 0.4s 1;
  animation: swa 0.4s 1;
}

@keyframes swa {
  0%{
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50%{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes swa {
  0%{
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50%{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.sweet-alert .swa .swa-title{
  font-size: 1.4rem;
  font-family: sans-serif;
  margin-bottom: 20px;
  border-bottom: 1px #eee solid;
}
.sweet-alert .swa .swa-alert-mode{
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.sweet-alert .swa .message{
  font-size: 0.9rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px #eee solid;
  border-bottom: 1px #eee solid;
  text-align: center;
}
.sweet-alert .swa .button{
  padding: 12px 20px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  color: #666;
}

/*Basic Type*/
[swa-type="basic"]{
  border: 6px #eee solid;
  -webkit-animation: basic 0.5s 0.2s 1;
  animation: basic 0.5s 0.2s 1;
}

[swa-type="basic"] > .swa-icon{
  display: block;
  width: 6px;
  height: 80%;
  -webkit-transform: scale(1);
  transform: scale(1);
  background: #eee;
  border-radius: 5px;
  -webkit-animation: basic 0.5s 0.4s 1;
  animation: basic 0.5s 0.4s 1;
}
@keyframes basic {
  0%{
    -webkit-transform: scale(0);
    transform:scale(0);
  }
  50%{
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  } 
}
@-webkit-keyframes basic {
  0%{
    -webkit-transform: scale(0);
    transform:scale(0);
  }
  50%{
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  } 
}



/*Error Type*/
[swa-type="error"]{
  border: 6px #a22 solid;
}

[swa-type="error"] > .swa-icon{
  width: 6px;
  height: 80%;
  display: block;
  position: relative;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #a22;
  border-radius: 5px;
  -webkit-animation:error1  0.6s 0.5s 3;
  animation: error1 0.6s 0.5s 3;
}

[swa-type="error"] > .swa-icon::before{
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #a22;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

@keyframes error1 {
  0%{height: 0;opacity: 0;} 
  100%{height: 100%;opacity: 1;}  
}
@-webkit-keyframes error1 {
  0%{height: 0;opacity: 0;} 
  100%{height: 100%;opacity: 1;}  
}

/*Success Type*/
[swa-type="success"]{
  border: 6px #2a2 solid;
}

[swa-type="success"] > .swa-icon{
  width: 6px;
  height: 80%;
  left: 10px;
  display: block;
  position: relative;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  background: #2a2;
  border-radius: 5px;
  -webkit-animation:success  0.6s 0.5s 1;
  animation: success 0.6s 0.5s 1;
}

[swa-type="success"] > .swa-icon::before{
  content: '';
  width: 100%;
  height:25px;
  bottom: -10px;
  left: -12px;
  border-radius: 5px;
  background: #2a2;
  position: absolute;
  -webkit-transform: rotate(-85deg);
  transform: rotate(-85deg);
  -webkit-animation:success  0.6s 0.5s 1;
  animation: success 0.6s 0.5s 1;
}

@keyframes success {
  0%{height:0;}
  100%{height:25px;}
}
/*Warning Type*/
[swa-type="warning"]{
  border: 6px #e63 solid;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

[swa-type="warning"] > .swa-icon{
  width: 80%;
  height: 80%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 10px;
  left: 0;
  position: relative;
  border: 6px #e63 solid;
  border-radius: 5px;
  -webkit-animation:warning  0.6s 0.4s 1;
  animation: warning 0.6s 0.4s 1;
}

[swa-type="warning"] > .swa-icon::before{
  content: '';
  width: 100%;
  height:100%;
  border-radius: 50%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 10px;
  left: -12px;
  background: #e63;
  position: absolute;
  -webkit-animation:warning  0.6s 0.2s 1;
  animation: warning 0.6s 0.2s 1;
}

@keyframes warning {
  0%{
    transform: scale(0);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

@-webkit-keyframes warning {
  0%{
    transform: scale(0);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

/*End Sweet Alerte*/

/*Sweet Input*/
.sweet-input{
  width: 100%;
  height: 100vh;
  position: fixed;
  font-family: sans-serif;
  z-index: 9999;
  background-color: rgba(10, 10, 30, 0.4);
  left: 0;
  top: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.sweet-input .sweet-input-box{
  max-width: 90%;
  min-width: 320px;
  background: #fff;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.sweet-input .sweet-input-box .sweet-input-box-title{
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.sweet-input .sweet-input-box .sweet-input-box-title .sweet-title{
  font-size: 1.1rem;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px #eee solid;
}

.sweet-input .sweet-input-box  .sweet-input-box-card{
  width: 100%;
  height: 42px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.sweet-input .sweet-input-box  .sweet-input-box-card input{
  width: 100%;
  height: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border: 2px  #eee solid;
  border-radius: 5px;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sweet-input .sweet-input-box  .sweet-input-box-card input:focus{
  border: 2px  #aaa solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sweet-input .sweet-input-box .sweet-input-button{
  width: 100%;
  padding: 10px;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 20px;
}
.sweet-input .sweet-input-box .sweet-input-button .sweet-btn{
  padding: 12px 20px;
  border-radius: 5px;
  color: #666;
  font-size: 0.7rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.07);
  cursor: pointer;
  user-select: none;
}
.sweet-input .sweet-input-box .sweet-input-button .sweet-btn:active{
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.cardshowvalue{
  width: 100%;
  height: auto;
  padding: 20px;
}

.wrapper-bottom{
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 991;
  position: absolute;
  padding: 20px;
  background: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

}
#keyboard{
  width: 100%;
  padding: 16px;
  padding-top: 20px;
  height: 100%;
  z-index: 99;
  overflow-y: auto;
  overflow-x: hidden;
  background: #D445B6;
  background: #45D4D2;
  position: fixed;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(to bottom, #20EFEF, #2040ef);
  background: linear-gradient(to bottom, #20EFEF, #2040ef);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: none;
  visibility: hidden;
  opacity: 1;
}
#keyboard.active{
  display: -webkit-flex;
  display: flex;
  opacity: 1;
  visibility: visible;
  z-index: 990;
}

.safe-loading{
  width: 100%;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: none;
}

body.active .safe-loading{
  display: -webkit-flex;
  display: flex;
}

.safe-loading .centralizing{
  width: 90%;
  min-height:50px;
  background: #fff;
  padding: 5px 16px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 60, 0.12);
}

.safe-loading .centralizing span{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px #22e solid;
  border-top: none;
  border-bottom: none;
  border-right-color: #111;
  margin-right: 20px;
}
body.active .safe-loading .centralizing span{
  -webkit-animation: rotate 1s infinite;
  animation: rotate 1s infinite;
}

@keyframes rotate{
  0%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate{
  0%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


.keyboardcard{
  width: 100%;
  min-height: 300px;
  padding: 20px;
  position: relative;
  bottom: 0;
  background: rgba(255, 255, 255, 0.996);
  -webkit-animation: animroot 1.1s 0.1s 1;
    animation: animroot 1.1s 0.1s 1;
    border-radius: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: column;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.keyboardcard .keyscard{
  width: 100%;
  height: 200px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  position: absolute;
}
#c .fa{
  color: #fe2020;
}

.keyboardcard .keyscard button{
  width:100%;
  background: transparent;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.5s;
  color: #999;
  font-size: 1.2rem;


}
.keyboardcard .keyscard button:active{
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.5;
  color: #fff;
  transition: 0.5s;
}

.keyboardcard .search{
  width: 100%;
  height: auto;
  font-size: 1.1rem;
  padding:12px;
  background: -webkit-linear-gradient(45deg, #D445B6, #2040ef);
  background: linear-gradient(45deg, #D445B6, #2040ef);
  -webkit-box-shadow: 0 6px 15px 0 rgba(40, 40, 160, .4);
  box-shadow: 0 6px 15px 0 rgba(40, 40, 160, .4);
  color: #fff;
  border-radius: 5pc;
  
}
.keyboardcard .search .fa{
  margin-left: 10px;
}



#fakeinput{
  width: 100%;
  border-radius: 5px;
}
#fakeinput h2{
  width: 100%;
  padding: 12px;
  position: relative;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  font-size: 2rem;
  letter-spacing: 10px;
  font-weight: 400;
}


.panel-option{
  width: 100%;
  min-height: 100px;
  padding: 10px;
  padding-top: 0;
  z-index: 998;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 15px 25px  rgba(40, 40, 160, .1);
  box-shadow: 0 15px 25px  rgba(40, 40, 160, .1);

}

.line-option{
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;

}

.line-option .ui-btn .fa{
  margin-left: 5px;
}

.text-help{
  display: block;
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}

#hom{
  color: #22f;
  -webkit-animation: zoomin 1s  infinite;
  animation: zoomin 1s  infinite;
}

@keyframes zoomin{
  0%{
    transform: scale(0.5);
  }
  50%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }
}
@-webkit-keyframes zoomin{
  0%{
    transform: scale(0.5);
  }
  50%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }
}

.pd8{
  padding: 8px 14px;
}

.anim{
  -webkit-animation: animroot 1.2s 1;
  -ms-animation: animroot 1.2s 1;
  animation: animroot 1.2s 1;
}

.anim-1{
  -webkit-animation: animroot 1.2s 0.1s 1;
  -ms-animation: animroot 1.2s 0.1s 1;
  animation: animroot 1.2s 0.1s 1;
}

.anim-2{
  -webkit-animation: animroot 1.2s 0.2s 1;
  -ms-animation: animroot 1.2s 0.2s 1;
  animation: animroot 1.2s 0.2s 1;
}
.anim-3{
  -webkit-animation: animroot 1.2s 0.3s 1;
  -ms-animation: animroot 1.2s 0.3s 1;
  animation: animroot 1.2s 0.3s 1;
}
.zoom{
  -webkit-animation: zoomin 1.2s 0.4s 1;
  -ms-animation: zoomin 1.2s 0.4s 1;
  animation: zoomin 1.2s 0.4s 1;
}
.swa{
  -webkit-animation: swa 4s 0.5s 1;
  -ms-animation: swa 4s 0.5s 1;
  animation: swa 4s 0.5s 1;
}